* {
    color: white;
    text-align: center;
}

.header {
    height: 50px;
    font-size: 30px;
    padding: 10px;
    margin: 20px;
}
body {
    background-color: #222831;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

img {
    width: 200px;
    height: 200px;
    box-sizing: border-box;
    padding: 5px;
    margin: 10px;
    border: 3px solid lightgray;
}

button {
    background-color: #222831;
}

.choices {
    display: flex;
}

.result {
    width: 300px;
    height: auto;
    margin: 10px;
    box-sizing: border-box;
    float: right;
    margin-top: 100px;
    margin-right: 100px;
}

.choice-holder {
    display: flex;
}

