body {
    background-color: #222831;
}


.header {
    color: white;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

button {
    background-color: steelblue;
    text-align: center;
    width: 100px;
    border: 1px solid black;
    background: skyblue;
    box-sizing: border-box;
    padding: 10px;
    margin: 10px;
    color: gray;
    text-decoration: none;
    font-weight: bold;
}

.result {
    width: 300px;
    height: auto;
    border: 1px solid black;
    background-color: lightgray;
}